
:root {
    --azul-medio: #96B6C5;
    --azul-claro: #ADC4CE;
    --beje: #EEE0C9;
    --branco-gelo: #F1F0E8;
    --azul--escuro: #445069;
    --Berkshire : 'Berkshire Swash', cursive;
    --Centeio: 'Centeio', cursive;
    --Phudu: 'Phudu', cursiva; 
    --branco: #fff;

}

body {
    background-color: var(--branco);
    font-family: var(--Centeio);
    margin: 0px;
}

/* .container {
    padding-left: 2%;
    padding-right: 2%;    
} */