
.card__titulo {
    width: 100%;
    background-color: var(--azul-medio);
    text-align: center;
    font-weight: 400;
    padding: 1em;
    color: var(--azul);
      
}
.card__grid {
    display: grid;   
    gap: 30px;
}

.cards {
    display: flex;
    flex-direction: column;
    text-align: center;    
    align-items: center;   
    justify-content: space-around;
    padding-bottom: 2rem;
    gap: 30px;
}

.card {
    padding: 1em;
    align-items: center;
    text-align: center;   
    
}

.card__title {
    padding-top: 1em;
    text-decoration:underline;
    padding-bottom: 0.5em;
}

@media screen and (min-width: 768px){
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        margin: 0 auto;      
    }
}

@media screen and (min-width: 1400px){
    .cards {
        display: grid;     
        grid-template-columns: 1fr 1fr 1fr 1fr;        
    }
}   
 

@media screen and (min-width: 1600px){
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;        
    }
}
@media screen and (min-width:320px){
    
}