:root {
    --azul-medio: #96B6C5;
    --azul-claro: #ADC4CE;
    --beje: #EEE0C9;
    --branco-gelo: #F1F0E8;
    --azul--escuro: #445069;   
    --Phudu: 'Phudu', cursiva;
    --branco: #fff;
    --azul: #22668D;
    --azul-2: #213555;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Phudu);

}

.whats {
    position: fixed;
    bottom: 15px;
    right: 10px;
    z-index: 999;
}

@media screen and (min-width:375px) {
    .whats {
        position: fixed;
        width: 50px;
        right: 10px;
        bottom: 5px;
        z-index: 999;
    }
}